<div class="auth-page">

  <div class="auth-card">

    <h2>Create Your Account</h2>
    <p class="subtitle">Join the championship experience</p>

    <form (ngSubmit)="register()">

      <div class="field">
        <label>Full Name</label>
        <input [(ngModel)]="name" name="name" required />
      </div>

      <div class="field">
        <label>Email Address</label>
        <input type="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="field">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit" class="primary-btn">
        Create Account
      </button>

    </form>

    <p class="switch">
      Already have an account?
       <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
       </li>
    </p>

  </div>

</div>
