.navbar {
  background-color: #0b5ed7;
  padding: 1rem;
}

.navbar a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  text-decoration: underline;
}
